<!DOCTYPE html>
<html lang="en">
<%- include("partials/cabecera", {titulo: "la seguridad que mereces"}) %>
<body class="body">
    <%- include("partials/loader") %>    
    <%- include("partials/navbar") %>
    <div class="content">
        <article class="main" id="main">
            <%- include("partials/inicio") %>
        </article>
    </div>
    <footer class="footer">
        <%- include("partials/footer") %>
     </footer>  
    <!--<script src="scripts.js"></script>-->
</body>
</html>

