<!DOCTYPE html>
<html lang="en">
<%- include("partials/templates/cabecera", {titulo: "la seguridad que mereces"}) %>
<body class="body">
    <%- include("partials/templates/loader") %>    
    <%- include("partials/templates/navbar") %>
    <div class="content">
        <article class="main" id="main">
            <%- include("partials/inicio") %>
        </article>
    </div>
    <footer class="footer">
        <%- include("partials/templates/footer") %>
     </footer>  
    <script src="scripts.js"></script>
</body>
</html>

